<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friedrich Nietzsche</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="https://i.ibb.co/mRs1Djy/nombre.png"" alt="" class="src">
        </div>
        <div class="links">
            <a href="/views/index.html">Home</a>
            <a href="/views/about.html">About</a>
            <a href="/views/obras.html">Works</a>
        </div>
    </nav>
<main>
    <h1>Bienvenidos a la bibliografia y libros que escribio Friedrich Nietzsche</h1>
    <img src="https://i.ibb.co/6y0PBcn/Friedrich-Nietzsche-1872.jpg" alt="" class="src">
</main>

</body>
</html>