<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Friedrich Nietzsche</title>
    <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="https://i.ibb.co/mRs1Djy/nombre.png"" alt="" class="src">
        </div>
        <div class="links">
          <a href="/views/index.html">Home</a>
          <a href="/views/about.html">About</a>
          <a href="/views/obras.html">Works</a>
      </div>
    </nav>
    <main>
    
        <div>
            <h2>lAS OBRAS DE Friedrich Nietzsche </h2>
            <ul>
              <li>1872 "El origen de la tragedia en el espíritu de la música" (En 1874 se publicó la 2ª edición, con algunas correcciones; en 1886 la 3ª, idéntica a la 2ª, pero con el título, ya definitivo, de "El origen de la tragedia o Grecia y el pesimismo", y añadiendo un "Ensayo de autocrítica")

                <li>1873-76 "Consideraciones intempestivas"
                
                  <li>1878-79 "Humano, demasiado humano", (en tres entregas)
                
                    <li>  1881 "Aurora"
                
                      <li>1882 "La gaya ciencia"
                
                        <li>1883 "Así habló Zaratustra", (primera y segunda parte)
                
                          <li>1884 "Así habló Zaratustra", (tercera y cuarta parte)
                
                            <li>1886 "Más allá del bien y del mal"
                
                              <li>1887 "La genealogía de la moral"
                
                                <li>1888 "El caso Wagner" (Todas las obras escritas en 1888 fueron publicadas con posterioridad a su enajenación mental).
                
                                  <li>1888 "Nietzsche contra Wagner"
                
                                    <li>1888 "El crepúsculo de los ídolos "
                
                                      <li>1888 "El anticristo "
                
                                        <li>1888 "Ecce homo"
            </ul>
          </div>
    </main>
</body>
</html>